:root{
    --sm:12px;
    --md:14px;
    --gd: 22px;
    --black-btn: #121212;
    --yellow-fill: #fbf901;
    --gray-lay:#a9a9a9;
    --background-lay: #F2F4F9;
    --white-btn: #FBFCFD;
    --green-h: #2DC656;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter Tight', sans-serif;
    background-color: var(--background-lay);
}
